<section class="page-header">
  <h1 class="project-name"><%= @title %></h1>
  <h2 class="project-tagline"><%= @description %></h2>
  <a href="<%= @baseurl %>/" class="btn">Home</a>



  <a href="https://github.com/doug2k1/nanogen" class="btn">GitHub</a>
</section>
