<%= cond do %>
<% 0 == @position -> %>
        <div class="fl w-100 w-50-l pr2-l pb3">
          <img class="db w-100" src="<%= @photo %>" alt="<%= @title %>">
        </div>
<% 1 == @position -> %>
        <div class="fl w-50 w-50-l pr1 pr0-l pl2-l pb3">
          <img class="db w-100" src="<%= @photo %>" alt="<%= @title %>">
        </div>
<% 2 == @position -> %>
        <div class="fl w-50 w-50-l pl2 pl0-l pr2-l pb3">
          <img class="db w-100" src="<%= @photo %>" alt="<%= @title %>">
        </div>
<% 3 == @position -> %>
        <div class="fl w-100 w-50-l pl2-l">
          <img class="db w-100" src="<%= @photo %>" alt="<%= @title %>">
        </div>
<% end %>
