<%= if @photo !=nil do %>
      <div class="cf dt-l w-100 bt b--black-10 pv4">
        <div class="dtc-l v-mid mw6 pr3-l">
          <img class="w-100" src="<%= @photo %>" alt=""/>
        </div>
        <div class="dtc-l v-mid f6 f5-m f4-l measure-l">
          <p class="measure pv4-l center">
            <%= @body %>
          </p>
        </div>
      </div>
<% else %>
      <div class="measure f3 center mv5 black-70">
        <h1 class="fw6 f3 avenir"><%= @intro %></h1>
        <p class="lh-copy measure f4 f3-ns black-70 baskerville">
            <%= @body %>
        </p>
      </div>
<% end %>
