<!DOCTYPE html>
<html>

  <%= head(@head) %>

  <body>
<article class="helvetica pb5">

  <%= header(@header) %>

  <div class="serif ph3 ph4-m ph5-l">
    <p class="lh-copy f5 f3-m f1-l measure center pv4">
      On <time>March 14, 1896</time>, the Sutro Baths were opened to the public as the world's largest indoor swimming pool establishment. </p>
    <div class="f5 f3-m lh-copy">

  <%= previews(@previews) %>

    </div>
  </div>
</article>

  <%= footer(@footer) %>

  </body>
</html>
