<head>
<meta charset="UTF-8">
<title><%= @title %></title>
<meta name="description" content="<%= @description %>"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#157878">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="<%= @baseurl %>/assets/css/styles.css">
</head>
